<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="log/console-logging.xml" />
    <include resource="log/file-logging.xml" />

    <logger name="com.atoncorp.trustin" level="DEBUG"/>


    <logger name="org.apache.catalina.startup.DigesterFactory" level="ERROR"/>
    <logger name="org.apache.catalina.util.LifecycleBase" level="ERROR"/>
    <logger name="org.apache.coyote.http11.Http11NioProtocol" level="WARN"/>
    <logger name="org.apache.sshd.common.util.SecurityUtils" level="WARN"/>
    <logger name="org.apache.tomcat.util.net.NioSelectorPool" level="WARN"/>
    <logger name="org.crsh.plugin" level="WARN"/>
    <logger name="org.crsh.ssh" level="WARN"/>
    <logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="ERROR"/>
    <logger name="org.hibernate.validator.internal.util.Version" level="WARN"/>
    <logger name="org.springframework.boot.actuate.autoconfigure.CrshAutoConfiguration" level="WARN"/>
    <logger name="org.springframework.boot.actuate.endpoint.jmx"/>
    <logger name="org.thymeleaf"/>

    <logger name="org.apache" level="INFO"/>
    <logger name="javax.management" level="INFO"/>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.beans" level="INFO"/>
    <logger name="org.springframework.boot" level="INFO"/>
    <logger name="org.springframework.core.io.support" level="INFO"/>
    <logger name="org.springframework.security" level="INFO"/>
    <logger name="org.springframework.security.web.access" level="DEBUG"/>
    <logger name="org.springframework.security.web.authentication" level="DEBUG"/>
    <logger name="org.springframework.security.web.context" level="DEBUG"/>
    <logger name="org.springframework.security.web.savedrequest" level="DEBUG"/>

    <logger name="org.hibernate" level="INFO"/>
    <logger name="org.hibernate.cfg" level="INFO"/>
    <logger name="org.hibernate.jpa" level="INFO"/>
    <logger name="org.hibernate.persister" level="INFO"/>
    <logger name="org.hibernate.loader" level="INFO"/>
    <logger name="org.hibernate.type" level="TRACE"/>
    <logger name="org.hibernate.SQL" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="INFO"/>
    <logger name="org.hibernate.type.descriptor.ValueBinder" level="TRACE"/>

    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="DEBUG"/>

    <logger name="org.springframework.jdbc.core.JdbcTemplate" level="INFO"/>
    <logger name="org.springframework.jdbc.core.StatementCreatorUtils" level="INFO"/>


    <root level="info"> <!--디버그 레벨 -->
        <springProfile name="local">
            <appender-ref ref="STDOUT"/>
<!--            <appender-ref ref="FILE"/>-->
        </springProfile>
        <springProfile name="dev">
            <appender-ref ref="FILE"/>
        </springProfile>
        <springProfile name="stg">
            <appender-ref ref="FILE"/>
        </springProfile>
        <springProfile name="prod">
            <appender-ref ref="FILE"/>
        </springProfile>
    </root>
</configuration>